html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevents horizontal scrollbar */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #101010;
  font-family: Comic Sans MS;
  min-height: 98vh;
  margin: 0;
}

#wrap {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; /* takes up remaining space */
}

#equationRow {
  display: flex;
  align-items: center;
}


#topBar {
  /* 
     top: 0;
     box-sizing: border-box;
 */
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
}

#mute {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  font-size: 50px;
}

#questionNum {
    margin: 0 auto; /* horizontally centered */
}

 #help{
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 50%;
    border: none;
    font-size: 60px;
 }


 .box{
  border: 2px solid white;
  width: 160px;
  text-align: center;
  background-color: gray;
  color: black;
  font-size: 120px;
  border-radius: 4px;
  float: left;
 }
 .numeral{
  width: 160px;
  text-align: center;
  color: white;
  font-size: 120px;
  float: left;
 }
 #answer{
  border: 2px solid white;
  width: 160px;
  text-align: center;
  background-color: gray;
  color: black;
  font-size: 120px;
  border-radius: 4px;
  float: left;
  font-family: Comic Sans MS;
 }
 #check{
  height: 104px;
  width: 254px;
  clear: both;
  margin-top: 30px;
  background-color: green;
  border: none;
  color: black;
  font-weight: bold;
  padding: 20px 40px;
  text-align: center;
  font-size: 35px;
  font-family: Comic Sans MS;
 }
 /*
 #check{
  margin-top: -40px;
  margin-left: 898px;
        background-color: gray;
        border: none;
        color: black;
        font-weight: bold;
  height: 60px;
  width: 165px;
        text-align: center;
        font-size: 30px;
        font-family: Comic Sans MS;
  float: left;
 }
*/
 input[type=number]::-webkit-inner-spin-button, 
 input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
 }
 /* Chrome, Safari and Opera syntax */
:-webkit-full-screen {
  background-color: yellow;
}
#beads{
  width: 100%;
  height: 260px;
  border-radius: 8px;
  margin-top: 25px;
  background-color: gray;
}
#hintsLeft{
    color: white;
    float: left;
    margin-top: -10px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
#grid{
  margin-left: 400px;
  float: left;
  color: gray;
  margin-top: 30px;
}
#grid2{
  float: left;
  color: gray;
  margin-top: 30px;
}
#addGrid{
  width: 160px;
  text-align: center;
  color: white;
  font-size: 120px;
  float:left;
  margin-top: 30px;
}
#timer {
  height: 0px;
}

#border{
  width: 30px;
  height: 200px;
  background-color: blue;
  float: left;
  margin-left: 80px;
  margin-top: -20px;
}
#numTimer{
    float: left;
    color: gray;
    margin-left: 30px;
    margin-top: -60px;
    height: 30px;
}