body{
    background-color: #101010;
}
.squared{
    border: 2px solid white;
    width: 160px;
    text-align: center;
    background-color: gray;
    color: black;
    font-size: 120px;
    border-radius: 4px;
    float: left;
    font-family: Comic Sans MS;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
} 
.operationSigns{
    color: white;
    font-size: 170px;
}
#aSquared{
    margin-top: 60px;
    margin-left: 100px;
}
#bSquared{
    margin-top: -290px;
    margin-left: 450px;
}
#cSquared{
    margin-top: -300px;
    margin-left: 800px;
    width: 300px;
}
#additionSign{
    margin-top: 10px;
    padding-top: 40px;
    padding-left: 310px;
}
#equalSign{
    margin-top: -300px;
    padding-top: 0px;
    padding-left: 670px;
}
#solve{
    background-color: black;
    border-radius: 10px;
    border: none;
    color: darkgray;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
    width: 200px;
    height: 100px;
    vertical-align: middle;
    transition-duration: 0.4s;
    box-shadow: 0 5px #666;
    margin-left: 440px;
    margin-top: -30px;
}
#solve:focus{
    outline: none;
}
#solve:hover{
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}
#rightTri{
    float: right;
    width: 400px;
    height: 330px;
    margin-right: -200%;
    margin-top: -45%;
}
#a{
    position: absolute;
    color:white;
    font-size: 40px;
    margin-left: 270%;
    margin-top: -15%;
}
#b{
    position: absolute;
    color:white;
    font-size: 40px;
    margin-left: 234%;
    margin-top: 10%;
}
#c{
    position: absolute;
    color:white;
    font-size: 40px;
    margin-left: 240%;
    margin-top: -45%;
}