body{
    background-color: purple;
    font-family: Comic Sans MS;
    color: black;
    text-align: center;
}
#final{
    border: 3px solid lightgray;
    width: 680px;
    height: 320px;
    border-radius: 8px;
    color: red;
    display: inline-block;
}
#retry{
    background-color: gray;
    border: none;
    color: black;
    font-weight: bold;
    padding: 30px 45px;
    text-align: center;
    font-size: 30px;
    font-family: Comic Sans MS;
}